<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight">
                <a href="index.html" class="active">
                    <img src="http://nitropcr-web.appspot.com.storage.googleapis.com/nitropcr_fulllogo1.png" alt/>
                </a>
            </h1>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="//twitter.com/nitropcr" target="_blank" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="//plus.google.com/+NitroPCR" target="_blank" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="//facebook.com/nitropcr" target="_blank" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="//linkedin.com/company/nitropcr" target="_blank" class="animated fadeIn animation-delay-8 linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->

<nav class="navbar navbar-static-top navbar-default navbar-header-full yamm" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm active" href="index.html">
                <img src="http://nitropcr-web.appspot.com.storage.googleapis.com/nitropcr_fulllogo1.png" alt/>
            </a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/pages/features">Features</a>
                </li>
                <li>
                    <a href="/pages/about">About</a>
                </li>
                <li>
                    <a href="/pages/blog">Blog</a>
                </li>
                <li>
                    <a href="/pages/releases">Releases</a>
                </li>


             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>
