<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nitropcr" />
  <meta name="twitter:creator" content="@nik_martin" />
  <title>{{ title }} | NitroPCR</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/images/android-chrome-192x192.png" sizes="192x192">
  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- CSS -->
  <link href="/styles/style.css" rel="stylesheet" media="screen">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="scripts/html5shiv.min.js"></script>
        <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
