<div class="sb-slidebar sb-right">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /input-group -->

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li>
            <a href="/index.html">Home</a>
        </li>
        <li>
            <a href="/demo.html">Demo</a>
        </li>
        <li>
            <a href="/features.html">Features</a>
        </li>
        <li>
            <a href="/blog.html">Blog</a>
        </li>
        <li>
            <a href="/releases.html">Releases</a>
        </li>
        <li>
            <a href="/pages/about.html">About</a>
        </li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="//twitter.com/nitropcr" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="//facebook.com/nitropcr" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="//plus.google.com/+NitroPCR" class="social-icon-ar google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="//linkedin.com/company/nitropcr" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
    </div>

</div> <!-- sb-slidebar sb-right -->
